*{
    margin: 0;
    padding: 0;
  }



  
  /* footer */
  .footer-color{
    background: #87ACA3;
  }

  
  /* login button effect on landing page  */

  /* .btn-color {
    background-color:#175873;
    padding: 0px 2px ;
  
  }
  
  
  .btn-color:hover {
    background-color: #b9ca76;
  
  } */
  
  /* navbar css */
  .custom-navbar-bg {
    background-color: #189AB4;
  }
  

/* Sidenavbar Styles */

.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background-color: #189AB4;

  /* background: #000; */
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon .link_text{
  font-size: 20px;
}

/* General styles */
.billgenerator-conatiner {
     background-color: #8dcdf5;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }

.generateBillBtn{
     text-align: center;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  button[type="submit"],
  button[type="button"] {
    background-color:#06425c;

    /* background-color: #49e065; */
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    /* background-color: #0056b3; */
    background-color: #05bcdc;

  }
  
  /* Item styles */
  .mb-4 {
    margin-bottom: 20px;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .billgenerator-conatiner {
      padding: 10px;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="date"] {
      width: calc(100% - 20px);
    }
  
    .w-24 {
      width: 80px;
    }
  
    .flex {
      flex-wrap: wrap;
    }
  
    .mb-4 {
      margin-bottom: 10px;
    }
  
    button[type="submit"],
    button[type="button"] {
      width: 100%;
    }
  }
  
  .customerList-container {
    background-color: #8dcdf5;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {

    border: 1px solid #aad1f5;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    table {
      overflow-x: auto;
    }
  }
 
  
/* customer card*/
.customerDetails-Container{
    height: 86vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .card {
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 80px;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  
  .card h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      max-width: 100%;
      padding: 15px;
    }
}

.backToListBtn{
  background-color:#00838d;

    /* background-color: rgb(35, 96, 186); */
    color: white;
    border: 2px solid  #76c5ca;
    font-size: 1.4rem;
    
}
  


@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 2096px;
  }
}
  
  
